body{
    background-color: silver;
}

#roh{
    background-color: grey;
    height: 1px;
    border: none;
    width: 30%;
    margin-left:1.6666%;
}

img{
    display: inline-block;
    /* margin: 50px 0px 50px 50px  ; */
    margin: 1.6666%;
    /* margin-left: 50px; */
    /* width: 400px; */
    width: 30%;
    height: 400px;
    padding: 5px;
    border: 0 solid grey;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgb(66, 63, 63, 10);
}

h1{
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    width: 30%;
    margin-left:1.6666%;
}